


@page "/HomeDetailsPage/{guid}"

@inject PatientInfoService pservice

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">@patientInfo.UserName</h1>
        <div class="lead">
            <ul class="list-unstyled">
                @if(PatientInfokeyValuePairs is not null)
                {
                    foreach (var item in PatientInfokeyValuePairs)
                    {
                        <li >@item.Key : @item.Value</li>
                    }
                }

            </ul>
        </div>
        <hr class="my-4">
        <p>系统档案录入时间：@patientInfo.CreateTime</p>
        <a class="btn btn-primary btn-lg" href="" role="button">其他入院记录信息</a>
    </div>

</div>

<ValidateForm>
    <Row></Row>
</ValidateForm>



@code {

    [Parameter]
    public string guid { set; get; }

    private PatientInfo patientInfo { set; get; } = new();

    public Dictionary<string, object?> PatientInfokeyValuePairs { set; get; }

    protected override Task OnParametersSetAsync()
    {

        return base.OnParametersSetAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        if(guid is not null)
        {
            patientInfo = await pservice.GetPatientInfo(guid);
            PatientInfokeyValuePairs =DisplayAttributeExtend.GetAttributeExtends<PatientInfo>(patientInfo);
        }

        return;// base.OnInitializedAsync();
    }

}
