







.mybut {
    border: 1px solid #8bdff4;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background-color: #8bdff4;
}
    .mybut:hover {
        /*        border: 1px solid #56CDF8;
        height: 65px;
        width: 65px;*/
        border: 1px solid #56CDF8;
        background-color: #56CDF8;
    }
.istyle {
    color: #ffc77d
}

.istyle:hover {
    color: #e54304;
    border-block-color: #e54304
}
