

@page "/PD_DrugAllergy_Page"


<div class=" d-flex  align-items-center">

    <div class="  w-100 ">
        <Row RowType="RowType.FormRow" ItemsPerRow="ItemsPerRow.Two">

            <Search IgnoreCase="true" IsLikeMatch="true" @bind-Value="@Querywhere" placeholder="请输入关键信息..." OnSearch="@(s=>OnSearch())"></Search>

            <button class="createbut fa fa-plus " @onclick="@OnShowDlg"></button>
        </Row>
    </div>
</div>

@code {

    private string Querywhere { set; get; }

    private MedicalPD_DrugAllergy medicalPD_DrugAllergy { set; get; } = new();


    private Task OnSearch()
    {
        return Task.CompletedTask;
    }

    private Task OnShowDlg()
    {
        return Task.CompletedTask;
    }
}
