








<AuthorizeView>
        <div class="d-flex align-content-center">
            <form action="Identity/Account/Manage" style="@Calssstring">
                <button type="submit" class="nav-link btn btn-link">@context.User.Identity.Name!</button>
            </form>

            <form method="post" action="Identity/Account/LogOut">
                <button type="submit" class="nav-link btn btn-link fa fa-sign-out"> </button>
            </form>
        </div>
</AuthorizeView>

@code{

  
    public bool IsDisplay { set; get; }


    [Parameter]
    public string Calssstring { set; get; }

    protected override void OnParametersSet()
    {
        if(IsDisplay)
        {
            Calssstring = "display: none;";
        }
        base.OnParametersSet();
    }


}