@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class=" main">
        @Body
        @*<Footer Text="Bootstrap Blazor" Target="#scroll" style="margin: -1rem;" />*@

        <MatPortalHost></MatPortalHost>
        <Dialog></Dialog>
        <Message />
        <PopoverConfirm />
    </div>

</div>
