@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="main w-75">
        @Body
        <MatPortalHost></MatPortalHost>
        <Dialog></Dialog>
        <Message />
        <PopoverConfirm />
    </div>
   
</div>
