@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "忘记密码了吗？";
}



<div class=" vh-100 d-flex justify-content-center align-items-center" >
    <div class="shadow-lg  pa-8"  style="width:100%;max-width:500px;"  >
        <section>
            <form method="post" style="margin-left: 50px;margin-right: 50px;margin-bottom: 50px;">
               <img src=/img/logo.png style="width:100%;height:auto"/>
               @* <hr />*@
               <h3>请输入需要找回的邮箱或者账号.</h3>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group pt-2">
                    <label asp-for="Input.Email"></label>
                    <input   asp-for="Input.Email" class="form-control"  style="height:48px" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group pt-4">
                    <button style="width:100%" type="submit" class="btn btn-primary"> 发 送 邮 件 </button>
                </div>
                <div class="form-group pt-3">
                    <p>
                       回忆起密码？请 <a id="login" asp-area="Identity" asp-page="/Account/Login"> Login </a>
                    </p>

                </div>
            </form>
        </section>
    </div>

</div>
@*<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
