@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
 此应用程序目前没有注册真正的电子邮件发件人，请参阅<a href="https://aka.ms/apachountconf">这些文档</a>如何配置真正的电子邮件发件人。
    通常，这将是通过电子邮件发送的： <a id="confirm-link" href="@Model.EmailConfirmationUrl">点击此处确认您的帐户</a>
</p>
    }
    else
    {
<p>
       请查看您的电子邮件以确认您的帐户。
</p>
    }
}
