@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="h-100 mt-5 pt-5" >
      <div>
            <p class="h1" >成功激活账号:  <a href="Identity/Account/Login">Log in</a></p>
      </div>
       <partial name="_StatusMessage" model="Model.StatusMessage" />
  </div>

