
@page "/"
<h3>Home</h3>

@code {


    [Inject]
    protected ILogger<Home> Logger{ set; get; }


    protected override Task OnInitializedAsync()
    {

        Logger.LogInformation("Home-OnInitializedAsync");
        return base.OnInitializedAsync();
    }
}
