


p{
    margin-bottom:2px;
}

button.addbut {
    border: 1px solid #8bdff4;
    height:45px;
    width: 45px;
    border-radius: 50%;
    background-color: #8bdff4;
}

    button.addbut:hover {
        /*        border: 1px solid #56CDF8;
        height: 65px;
        width: 65px;*/
        border: 1px solid #56CDF8;
        background-color: #56CDF8;
    }

div.tlist {
    width: 45% !important;
    background-color: white;
    margin: 5px;
}
    div.tlist:hover {
        background-color: #fff2df;
        border-bottom:3px solid #ff6a00;
    }