



<div class="row text-center d-flex  align-items-center " >
    <div class="col-2 col-sm-2 col-lg-2 d-flex align-items-center " >
        <img src="/img/aa.jpg" style="height:120px;" />
    </div>
    <div class="col-7 col-sm-7 col-lg-7 text-left">
        <h5>病历号：@PatientInfo.Medicalrecordnumber</h5>

        <div class="row">
            <div class="col-5">
                <p>姓名：@PatientInfo.Name</p>
                <p>祖籍：@PatientInfo.Ancestralhome</p>
                <p>年龄：@PatientInfo.AGE</p>
            </div>
            <div class="col-5">
                <p>体重：@PatientInfo.BW</p>
                <p>身高：@PatientInfo.Gender</p>

            </div>
        </div>
    </div>
    <div class="  col-3 col-sm-3 col-lg-3 d-flex align-items-stretch">

        @*<div class="col-5">
            <Button ButtonStyle="ButtonStyle.Circle" IsOutline="true" Color="Color.Danger" style="width:25px;height:25px">x</Button>
        </div>*@
        <Button @onclick="@ButtonClick" Color="Color.Link">操作</Button>

    </div>
</div>


@code {


    [Parameter]
    public PatientInfo PatientInfo { set; get; }


    public Task ButtonClick()
        {
        return Task.CompletedTask;
        }

}
